.contact-form {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 10px;
  flex-direction: column;
  width: 250px;
  margin-bottom: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
}

.input {
  margin-top: 6px;
  padding: 6px;
}

.btn {
  width: 120px;
  padding: 8px;
}
